@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap");
:root{
  --primary-color :rgba(178, 203, 35, 0.424);
  --secondary-color: hwb(240 0% 0%);
  --third-color: black;
}
.navbar {
  margin: 5px auto 0 auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.8rem; 
  box-shadow:0px 3px 8px rgba(0, 0, 0, 0.24);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
body {
  font-family: "Caveat", cursive;
  font-size: 20px;
  align-items: center;
}
#txt-input {
  border: 2px solid var(--third-color);
  display: block;
  padding: 1rem;
  height: 15vh;
  margin: 1rem;
  width: 70%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--third-color);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}
.output-header {
  font-size: 20px;
  padding-top: 2rem;
}
#output {
  border: 2px solid var(--third-color);
  padding: 1rem;
  margin: 1rem 0rem 2rem 0rem;
  height: 15vh;
  width: 70%;
  max-width: 550px;
}
.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  font-size: larger;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.footer .list {
  padding-inline-start: 0px;
}

.non-bullet-items {
  list-style: none;
}

.list .list-inline-item {
  display: inline;
  padding: 1rem 0rem;
}

footer .links {
  padding: 0.5rem 0.5rem;
  display: inline-block;
}

.ionicons {
  font-size: 30px;
  color: var(--secondary-color);
}

.ionicons:hover {
  color: var(--third-color);
}

.footer .attributes {
  color: var(--third-color);
  font-size: 20px;
}